@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.pokemonsContainer {
  @include centerByRow;
  flex-wrap: wrap;

  &__paragraph {
    margin: 10px;
    color: $primary;
    font-weight: bold;
  }

  &__pokemonContainer {
    width: 40%;
    margin: 10px;

    @media only screen and (max-width: $mobile) {
      width: 80%;
    }

    &__pokemon {
      @include border;
      background-color: white;
      overflow: hidden;
      margin-bottom: 15px;
      margin-top: 15px;

      &--removeUnderline {
        @include removeLinkUnderline;
      }

      &__nameContainer {
        &__name {
          text-align: center;
          padding: 20px;
          text-transform: uppercase;
          font-weight: bold;
          color: white;
          letter-spacing: 4px;
          text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
          background-color: $primary;

          @media only screen and (max-width: $tablet) {
            padding: 10px;
          }
        }
      }

      &__imageContainer {
        @include centerByRow;
        padding: 20px;

        &__image {
          width: 330px;
          height: 330px;

          @media only screen and (max-width: $tablet) {
            width: 200px;
            height: 200px;
          }

          @media only screen and (max-width: $mobile) {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}
